<div class="login-section container-fluid">
  <h2>Login</h2>
	<!-- <p>{{$ctrl.temp}}</p> -->
  <form class="form-group" method="post" ui-sref="show({ userId: temp})">
  	<p>{{temp}}</p>
    <label>Email:</label>
    <input class="form-control" type="text" name="email"><br>

    <label>Password</label>
    <input class="form-control" type="text" name="password"><br>

    <input class="btn btn-primary" type="submit" ui-sref="show({ userId:'58e8f03b22c5dc033454ed1b'})" value="submit">
  </form><br>


  <h6>First time? <a ui-sref="signup" href="#">Start here.</a> </h6>


</div>
