<div class="login-section container-fluid">
  <h2>Login</h2>
  <form ng-submit="$ctrl.loginUnauth()" class="form-group">
    <label>Email:</label>
    <input class="form-control"
           type="text"
           name="email"
           ng-model="$ctrl.login.email"
           required>
           <small><div style="color: grey" ng-message="required">Email is required</div></small>
           <br>

    <label>Password</label>
    <input class="form-control"
           type="text"
           name="password"
           ng-model="$ctrl.login.password"
           required>
    <small><div style="color: grey" ng-message="required">Password is required</div></small>
    <br>

    <input class="btn btn-primary" type="submit"  value="submit">
  </form><br>


  <h6>First time? <a ui-sref="signup">Start here.</a> </h6>


</div>
<!-- ui-sref="show({ userId: userId})" -->
