/*GENERAL*/

body, .container-fluid {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

small {
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: .1em;
}


/*HEADER*/
.brand {
  text-align: left;
}

.buttons {
  text-align: right;
  height: inherit;
  padding: 20px;
}

/*SIGN UP and LOGIN PAGE*/
.signup-section, .login-section {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
}

/*DASHBOARD FOOTER*/
.show-footer {
  text-align: center;
}
